<div ng-include="global.navUrl"></div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Animation without caption</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <uib-carousel interval="main.slideInterval">
                        <uib-slide class="active">
                            <img ng-src="img/dashboard.png" style="margin:auto;">
                        </uib-slide>
                        <uib-slide>
                            <img ng-src="img/1.jpg" style="margin:auto;">
                        </uib-slide>
                        <uib-slide>
                            <img ng-src="img/2.jpg" style="margin:auto;">
                        </uib-slide>
                    </uib-carousel>
                </div>
            </div>
        </div>
    </div>
</div>