
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title  back-change">
                <h5>ngImgCrop <small>profile pic</small></h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content" ng-controller="imageCrop">
                <p>
                    Simple Image Crop directive for AngularJS. Enables to crop a circle or a square out of an image.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-b-md"><input type="file" id="fileInput" ng-files="setTheFiles($files)" name="profilePic"/></div>
                        <div class="cropArea">
                            <img-crop area-type="square" image="myImage" result-image="myCroppedImage"></img-crop>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Preview image</h4>
                        <div class="m-b-md"><img ng-src="{{myCroppedImage}}" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>