<div class="col-lg-6" data-ng-controller="courseCreateController">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Grade of  {{course.course_name}}</h5>

            <div ibox-tools></div>
        </div>
        <div class="ibox-content">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Quizzes</th>
                    <th>Assignments</th>
                    <th>Projects</th>
                    <th>Final</th>
                    <th>Total</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>10%</td>
                    <td>10%</td>
                    <td>40%</td>
                    <td>40%</td>
                    <td class="text-navy"><i class="fa fa-level-up"></i> 100%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>