<div class = "container-smooth" ng-include = "global.navUrl"></div>
<div> class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>All new User Info for LT+
                    <small>created here by the admin</small>
                </h5>
                <div ibox-tools></div>
            </div>
            <form>
                <div class="form-group">
                    <div class="col-sm-3">
                    Name
                    </div>
                    <div class="col-sm-9">
            <input type="text" name="name" ng-model="reg.name" class="form-control"></div>
            </div>
                <hr>
            <div class="form-group">
                <div class="col-sm-3">
                    Name
                </div>
                <div class="col-sm-9">
            <input type="email" name="email" ng-model="reg.email" class="form-control"></div>
            </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        Name
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                        <input type="password" name="password" ng-model="reg.password" class="form-control"> <span
                                class="input-group-btn"> <button type="button" ng-click="genPass()" class="btn btn-primary">Generate!
                        </button> </span></div>
                    </div>
                </div>

            <div class="form-group">
                <div class="col-sm-3">
                    Name
                </div>
                <div class="col-sm-9"><input type="text" name="office" ng-model="reg.office" class="form-control"></div>
            </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-3">
                        Name
                    </div>
                <div class="col-sm-9"><input type="text" name= "workPos" ng-model="reg.workPos" class="form-control"></div>
            </div>
                <div col-sm-9>
                <div class="checkbox checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="true" name="isHead" ng-model = "newPos.isHead">
                <label for="inlineCheckbox3"> Head Position Access? </label>
            </div></div>
                <div class="hr-line-dashed"></div>
                </form>

        </div>
    </div>
</div>

