<div class = "container-smooth" ng-include = "global.navUrl"></div>
<!--<div class = "container-smooth" ng-include = "global.chat"></div>-->
<div class="wrapper wrapper-content" data-ng-controller="courseCreateController">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <button ng-click="discard()" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard"><i class="fa fa-times"></i> Discard</button>
                </div>
                <h2>
                    Create Courses
                </h2>
            </div>
            <div class="mail-box">
                <form class="form-horizontal" name = "courseForm" ng-submit="createCourse(courseForm)">
                    <div class="mail-body">
                        <div class="form-group"><label class="col-sm-2 control-label">Course Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="course_name" ng-model="newCourse.name">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Department:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="belongs_to_dept" ng-model="newCourse.dept" >
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">No of Modules:</label>
                            <div class="col-sm-10">
                                <!--<input type="text" class="form-control" ng-model="newCourse.modules" name="modules">-->
                                <input type="text"  name="no_of_modules" touch-spin spin-options="spinOption2" ng-model="newCourse.modules">
                            </div>
                        </div>
                    </div>
                    <div class="mail-text h-200">
                        <div summernote class="summernote" name="desc" ng-model="newCourse.desc">
                            <p>text!</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            <div class="pull-right tooltip-demo">
                <button class="btn btn-white btn-sm"
                        data-toggle="tooltip" data-placement="top" title="Create Course">
                    <i class="fa fa-pencil">
                    </i> Create </button>
                </div>
                </form>

                <div class="mail-body text-right tooltip-demo">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
