<div class = "container-smooth" ng-include = "global.navUrl"></div>
<!--<div class = "container-smooth" ng-include = "global.chat"></div>-->
<div class="wrapper wrapper-content" data-ng-controller="forumController">
    <div class="row">
        <div class="col-lg-3">

                        <div class="clearfix"></div>
                    </div>
        </div>

        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">

                    <button ng-click="discard()" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</button>
                </div>
                <h2>
                    Ask Questions?
                </h2>
            </div>
            <div class="mail-box">


                <form class="form-horizontal" name = "postForm">
                    <div class="mail-body">
                        <div class="form-group"><label class="col-sm-2 control-label">Subject:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="post_title" name="post_title">
                            </div>
                        </div>
                    </div>
                    <div class="mail-text h-200">
                        <div summernote class="summernote"  ng-model="post_mes" name="post_mes">
                            <p>text!</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mail-body">

                            <hr>
                            <div class="pull-right tooltip-demo" data-ng-controller="courseCreateController">
                                <button class="btn btn-white btn-sm" ng-click="createPost(course.id)"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Ask Question">
                                    <i class="fa fa-pencil"></i>{{course.id}}Ask?
                                </button>
                            </div>

                        </div>
                </form>
            </div>
        </div>
    </div>

</div>
